body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #D11;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

field-set {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

.menu-item {
  margin-bottom: 10px;
}

.calculate-total {
  display: flex;
  align-items: center;
}

.calculate-total button {
  margin-right: 10px;
}

.payment-details {
  display: 100px;
}

#total-cost {
  width: 100px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:hover {
  background-color: #218838;
}
